* {
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.aantalObjecten {
    display: none;
}

.arc:hover {
    opacity: 0.8;

    .aantalObjecten {
        display: block;
    }
}